@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #121212;
  /* font-size: 62.5%; */
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

.btn-main {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(99 102 241 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(99 102 241 / var(--tw-border-opacity));
}